.debug {
  border: solid 1px red;
}

.slider {
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  background-image: url("/images/headers/7da7041690b2aa34746bef69abdea98b.jpg");
  -webkit-animation-name: header-slideshow;
  /* Chrome, Safari, Opera */
  animation-name: header-slideshow;
  -webkit-animation-duration: 60s;
  /* Chrome, Safari, Opera */
  animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  color: #fff;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider .preloader {
  -webkit-animation-name: header-slideshow;
  /* Chrome, Safari, Opera */
  animation-name: header-slideshow;
  -webkit-animation-duration: 3s;
  /* Chrome, Safari, Opera */
  animation-duration: 3s;
  height: 1px;
  width: 1px;
}

@-webkit-keyframes header-slideshow {
  0% {
    background-image: url("/images/headers/7da7041690b2aa34746bef69abdea98b.jpg");
  }
  10% {
    background-image: url("/images/headers/cars-road-traffic-dawn.jpg");
  }
  20% {
    background-image: url("/images/headers/pexels-photo-24821.jpg");
  }
  30% {
    background-image: url("/images/headers/pexels-photo-25116.jpg");
  }
  40% {
    background-image: url("/images/headers/pexels-photo-45775.jpg");
  }
  50% {
    background-image: url("/images/headers/pexels-photo-59520.jpg");
  }
  60% {
    background-image: url("/images/headers/pexels-photo-90633.jpg");
  }
  70% {
    background-image: url("/images/headers/road-car-tire.jpg");
  }
  80% {
    background-image: url("/images/headers/road-mountains-nature-street.jpg");
  }
  90% {
    background-image: url("/images/headers/road-summer-forest-green.jpg");
  }
  100% {
    background-image: url("/images/headers/7da7041690b2aa34746bef69abdea98b.jpg");
  }
}
/* Chrome, Safari, Opera */
@-moz-keyframes header-slideshow {
  0% {
    background-image: url("/images/headers/7da7041690b2aa34746bef69abdea98b.jpg");
  }
  10% {
    background-image: url("/images/headers/cars-road-traffic-dawn.jpg");
  }
  20% {
    background-image: url("/images/headers/pexels-photo-24821.jpg");
  }
  30% {
    background-image: url("/images/headers/pexels-photo-25116.jpg");
  }
  40% {
    background-image: url("/images/headers/pexels-photo-45775.jpg");
  }
  50% {
    background-image: url("/images/headers/pexels-photo-59520.jpg");
  }
  60% {
    background-image: url("/images/headers/pexels-photo-90633.jpg");
  }
  70% {
    background-image: url("/images/headers/road-car-tire.jpg");
  }
  80% {
    background-image: url("/images/headers/road-mountains-nature-street.jpg");
  }
  90% {
    background-image: url("/images/headers/road-summer-forest-green.jpg");
  }
  100% {
    background-image: url("/images/headers/7da7041690b2aa34746bef69abdea98b.jpg");
  }
}
@-o-keyframes header-slideshow {
  0% {
    background-image: url("/images/headers/7da7041690b2aa34746bef69abdea98b.jpg");
  }
  10% {
    background-image: url("/images/headers/cars-road-traffic-dawn.jpg");
  }
  20% {
    background-image: url("/images/headers/pexels-photo-24821.jpg");
  }
  30% {
    background-image: url("/images/headers/pexels-photo-25116.jpg");
  }
  40% {
    background-image: url("/images/headers/pexels-photo-45775.jpg");
  }
  50% {
    background-image: url("/images/headers/pexels-photo-59520.jpg");
  }
  60% {
    background-image: url("/images/headers/pexels-photo-90633.jpg");
  }
  70% {
    background-image: url("/images/headers/road-car-tire.jpg");
  }
  80% {
    background-image: url("/images/headers/road-mountains-nature-street.jpg");
  }
  90% {
    background-image: url("/images/headers/road-summer-forest-green.jpg");
  }
  100% {
    background-image: url("/images/headers/7da7041690b2aa34746bef69abdea98b.jpg");
  }
}
@keyframes header-slideshow {
  0% {
    background-image: url("/images/headers/7da7041690b2aa34746bef69abdea98b.jpg");
  }
  10% {
    background-image: url("/images/headers/cars-road-traffic-dawn.jpg");
  }
  20% {
    background-image: url("/images/headers/pexels-photo-24821.jpg");
  }
  30% {
    background-image: url("/images/headers/pexels-photo-25116.jpg");
  }
  40% {
    background-image: url("/images/headers/pexels-photo-45775.jpg");
  }
  50% {
    background-image: url("/images/headers/pexels-photo-59520.jpg");
  }
  60% {
    background-image: url("/images/headers/pexels-photo-90633.jpg");
  }
  70% {
    background-image: url("/images/headers/road-car-tire.jpg");
  }
  80% {
    background-image: url("/images/headers/road-mountains-nature-street.jpg");
  }
  90% {
    background-image: url("/images/headers/road-summer-forest-green.jpg");
  }
  100% {
    background-image: url("/images/headers/7da7041690b2aa34746bef69abdea98b.jpg");
  }
}
/* Standard syntax */
/*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
body {
  color: #333;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.text-muted {
  color: #777;
}

.text-primary {
  color: #9370DB;
}

p {
  font-size: 14px;
  line-height: 1.75;
}
p .large {
  font-size: 16px;
}

a {
  color: #9370DB;
  outline: 0;
}

a.active,
a:active,
a:focus,
a:hover {
  color: #a0a0f0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.img-centered {
  margin: 0 auto;
}

.bg-medium-gray {
  background-color: #ddddef;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.bg-darkest-gray {
  background-color: #222;
}

.btn-primary {
  background-color: #9370DB;
  border-color: #9370DB;
  color: #fff;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
  background-color: #a0a0f0;
  border-color: #9370DB;
  color: #fff;
}

.btn-primary.active,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #9370DB;
  border-color: #9370DB;
}

.btn-primary .badge {
  background-color: #fff;
  color: #9370DB;
}

.btn-xl {
  background-color: #9370DB;
  border-color: #9370DB;
  border-radius: 3px;
  color: #fff;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  text-transform: uppercase;
}
.btn-xl .badge {
  background-color: #fff;
  color: #9370DB;
}

.btn-xl.active,
.btn-xl:active,
.btn-xl:focus,
.btn-xl:hover,
.open .dropdown-toggle.btn-xl {
  background-color: #a0a0f0;
  border-color: #9370DB;
  color: #fff;
}

.btn-xl.active,
.btn-xl:active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}

.btn-xl.disabled,
.btn-xl.disabled.active,
.btn-xl.disabled:active,
.btn-xl.disabled:focus,
.btn-xl.disabled:hover,
.btn-xl[disabled],
.btn-xl[disabled].active,
.btn-xl[disabled]:active,
.btn-xl[disabled]:focus,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl,
fieldset[disabled] .btn-xl.active,
fieldset[disabled] .btn-xl:active,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl:hover {
  background-color: #9370DB;
  border-color: #9370DB;
}

header {
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  color: #fff;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header .intro-text {
  padding-bottom: 50px;
  padding-top: 100px;
}
header .intro-text .intro-lead-in {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 0;
}
section h3.section-subheading {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
  text-transform: none;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}
.team-member img {
  border: 7px solid #fff;
  margin: 0 auto;
}
.team-member h4 {
  margin-bottom: 0;
  margin-top: 25px;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}

aside.clients img {
  margin: 50px auto;
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 40px;
  text-transform: none;
  text-transform: uppercase;
}
footer ul.quicklinks {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  text-transform: uppercase;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  background-color: #222;
  border-radius: 100%;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  outline: 0;
  width: 40px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #9370DB;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0;
}

::-moz-selection {
  background: #9370DB;
  text-shadow: none;
}

::selection {
  background: #9370DB;
  text-shadow: none;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #9370DB;
}

.navbar-default {
  background-color: #222;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #9370DB;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand.active, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #a0a0f0;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #9370DB;
  border-color: #9370DB;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #9370DB;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .nav li a {
  color: #a0a0f0;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
  color: #9370DB;
  outline: 0;
}
.navbar-default .navbar-nav > .active > a {
  background-color: #9370DB;
  border-radius: 0;
  color: #fff;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #a0a0f0;
  color: #fff;
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border: 0;
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
section#contact-form {
  background-color: #222;
  background-image: url("/images/map.png");
  background-position: center;
  background-repeat: no-repeat;
}
section#contact-form .section-heading {
  color: #fff;
}
section#contact-form .form-group {
  margin-bottom: 25px;
}
section#contact-form .form-group input,
section#contact-form .form-group textarea {
  padding: 20px;
}
section#contact-form .form-group input.form-control {
  height: auto;
}
section#contact-form .form-group textarea.form-control {
  height: 236px;
}
section#contact-form .form-control:focus {
  border-color: #9370DB;
  box-shadow: none;
}
section#contact-form::-webkit-input-placeholder {
  color: #bbb;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
section#contact-form:-moz-placeholder {
  color: #bbb;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
section#contact-form::-moz-placeholder {
  color: #bbb;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
section#contact-form:-ms-input-placeholder {
  color: #bbb;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
section#contact-form .text-danger {
  color: #e74c3c;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  background-color: #f1f1f1;
  bottom: 0;
  content: "";
  left: 40px;
  margin-left: -1.5px;
  position: absolute;
  top: 0;
  width: 2px;
}
.timeline > li {
  margin-bottom: 50px;
  min-height: 50px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
  width: 100%;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  background-color: #9370DB;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  color: #fff;
  height: 80px;
  left: 0;
  margin-left: 0;
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 100;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  color: inherit;
  margin-top: 0;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }

  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
    width: 41%;
  }
  .timeline > li .timeline-image {
    height: 100px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    height: 150px;
    margin-left: -75px;
    width: 150px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    height: 170px;
    margin-left: -85px;
    width: 170px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(147, 112, 219, 0.9);
  background: rgba(254, 209, 54, 0.9);
  /* Fallback when no plugin support */
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  color: #fff;
  font-size: 20px;
  height: 20px;
  margin-top: -12px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  background-color: #fff;
  margin: 0 auto;
  max-width: 400px;
  padding: 25px;
  text-align: center;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.portfolio-modal .modal-content {
  background-clip: border-box;
  border-radius: 0;
  border: 0;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .close-modal {
  background-color: transparent;
  cursor: pointer;
  height: 75px;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 75px;
}
.portfolio-modal .close-modal:hover {
  opacity: .3;
}
.portfolio-modal .close-modal .lr {
  background-color: #222;
  height: 75px;
  margin-left: 35px;
  width: 1px;
  z-index: 1051;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
  background-color: #222;
  height: 75px;
  width: 1px;
  z-index: 1052;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
